.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.user-icon-text{
font-size: 12px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .button{
 display: block;
}
button{
  padding: 5px;
  cursor: pointer;
} */
.nav-text{
  text-align: center;
  margin: 10px;
}
.nav-text:hover{
  text-decoration: underline;
  cursor: pointer;
}
